.App {
  text-align: center;
}

.body {
  background: #34e89e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0f3443,
    #34e89e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0f3443,
    #34e89e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.img {
  border-radius: 50%;
}

.btn {
  margin-top: 50px;
  background-color: #61dafb;
}

h2 {
  color: rgb(243, 243, 243);
}
h1{
  color: #51fa6d;
}
h5{
  color: rgb(15, 241, 241);
}